/* Start: Color Palette */
:root {
  --primary-color: #3498db; /* Light Blue */
  ----background-color: #ecf0f1; /* Light Gray */
  --text-color: #2c3e50; /* Dark Gray */
  --accent-color: #e74c3c; /* Red */
  --light-gray: #bdc3c7; /* Light Gray */
}
/* End: Color Palette */

/* Start: Global */
body {
  background-color: #f0f0f0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}
/* End: Global */

/* Start: Header */
header {
  color: var(--primary-color);
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.logo-app {
  animation: fade-in-down 1s ease-in-out;
}

.nav-list {
  display: flex;
  list-style: none;
  animation: fade-in-down 1s ease-in-out;
}

.nav-item {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 100px;
}

.nav-item:hover {
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.icon-list {
  display: none;
}
/* End: Header */

/* Start: Hero */
.hero {
  padding: 30px 50px;
  display: flex;
  align-items: center;
  animation: fade-in-up 1s ease-in-out;
}

.hero-text {
  color: var(--text-color);
  margin-right: 200px;
}

.kontak-kami {
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  color: var(----background-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-right: 30px;
  transition: all 0.3s ease-in-out;
}

.fa-phone {
  margin-right: 10px;
}

.kontak-kami:hover {
  background-color: #c0392b;
}

.info-detail {
  padding: 0 30px;
  display: flex;
  align-items: center;
  background-color: var(--light-gray);
  color: var(--background-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.info-detail:hover {
  background-color: #95a5a6;
}

.btn-group {
  display: flex;
  margin-top: 20px;
}

.hero-img {
  border-radius: 30px;
}

.hero-title {
  font-size: xx-large;
}

.hero-detail {
  margin-bottom: 50px;
}
/* End: Hero */

/* Start: Fasilitas List */
.fasilitas-list {
  color: var(--text-color);
  margin-left: 50px;
  margin-right: 50px;
}

.fasilitas-item:nth-child(odd) {
  animation: fade-in-right 3s linear;
}

.fasilitas-list:nth-child(even) {
  animation: fade-in-left 3s linear;
}

.fasilitas-title {
  font-size: xx-large;
  border-bottom: var(--primary-color) 10px solid;
  width: max-content;
  margin-left: 530px;
  margin-top: 100px;
  animation: fade-in-up 3s ease-in-out;
  color: var(--text-color);
}

.fasilitas-item:nth-child(odd) {
  display: flex;
  justify-content: space-between;
  width: 104%;
  margin-top: 20px;
}

.fasilitas-item:nth-child(even) {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 104%;
  margin-left: -50px;
}

.fasilitas-item-title {
  font-size: xx-large;
}

.fasilitas-item-desc {
  font-size: large;
  text-align: justify;
}

.fasilitas-img {
  width: 600px;
  border-radius: 30px;
}
/* End: Fasilitas List */

/* Start: About Us */
.about-us-content {
  background-color: var(--primary-color);
  color: var(----background-color);
  margin: 100px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--light-gray);
}
/* End: About Us */

/* Start: Icon text */
.contact-icon {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
  font-size: large;
  margin: 50px 0;
}

.icon-item {
  font-size: 50px;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.icon-text {
  text-decoration: none;
  color: var(--text-color);
}

.icon-text:hover {
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
/* End: Icon text */

/* Start: Contact Form Map */
.contact-form-map {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.contact-form {
  background-color: var(--light-gray);
  height: 450px;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}

.contact-form-main {
  display: flex;
  flex-direction: column;
}

.contact-form-input-text {
  border: none;
  height: 30px;
  border-radius: 3px;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
  margin: 10px 0;
}

.contact-form-input-text:focus {
  outline: none;
  border: 3px solid var(--primary-color);
}

.contact-form-input-textarea {
  border: none;
  height: 80px;
  border-radius: 3px;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  margin: 10px 0;
}

.contact-form-input-textarea:focus {
  outline: none;
  border: 3px solid var(--primary-color);
}

.contact-form-btn {
  background-color: var(--primary-color);
  color: var(----background-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10px 0;
}

.contact-form-btn:hover {
  background-color: #2980b9;
}

.contact-map {
  width: 50%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
/* End: Contact Form Map */

/* Start: List Tipe Rumah */
.tipe-rumah-section {
  padding: 30px 50px;
  color: var(--text-color);
}

.tipe-rumah-title {
  color: var(--text-color);
  font-size: xx-large;
  border-bottom: var(--primary-color) 10px solid;
  width: max-content;
  margin: 100px 500px;
}
.tipe-rumah-article {
  display: flex;
  margin-top: 20px;
  padding: 0 50px;
  animation: fade-in-right 3s ease-in-out;
  color: var(--text-color);
  text-align: justify;
}

.tipe-rumah-article:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
  animation: fade-in-left 3s ease-in-out;
}

.tipe-rumah-article-title {
  font-size: x-large;
}

.tipe-rumah-img {
  border-radius: 30px;
  margin: 0px 50px;
  width: 500px;
}

.tipe-rumah-container-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.tipe-rumah-container-item {
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tipe-rumah-icon {
  font-size: 50px;
  color: var(--primary-color);
}

.btn-selengkapnya {
  background-color: var(--primary-color);
  color: var(----background-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 50px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-selengkapnya:hover {
  background-color: #2980b9;
}
/* End: List Tipe Rumah */

/* Start: Detail Rumah */
.detail-rumah-main {
  display: flex;
  margin: 50px 80px;
  color: var(--text-color);
  animation: fade-in-right 3s ease-in-out;
}

.detail-rumah-img {
  width: 500px;
  border-radius: 30px;
}

.detail-rumah-text-group {
  margin-left: 50px;
}

.detail-rumah-title {
  font-size: xx-large;
  margin-bottom: 20px;
}

.detail-rumah-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.detail-rumah-item {
  background-color: var(--primary-color);
  color: var(----background-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.detail-rumah-kontak {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  margin-left: 100px;
  color: var(--text-color);
  animation: fade-in-left 3s ease-in-out;
}

.detail-rumah-denah {
  width: 600px;
  border-radius: 10px;
}

.detail-rumah-kontak-text {
  margin-right: 300px;
}

.kontak-item {
  display: flex;
  background-color: var(--primary-color);
  padding: 10px 20px;
  align-items: center;
  width: 200px;
  color: var(----background-color);
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.kontak-item:hover {
  background-color: #2980b9;
}

.fa-envelope {
  margin-right: 10px;
}

.detail-rumah-kontak-title {
  font-size: xx-large;
}

.lainnya {
  margin: 200px 50px;
  text-align: center;
  color: var(--text-color);
  font-size: large;
  animation: fade-in-up 3s ease-in-out;
}

.lainnya-img {
  width: 300px;
  border-radius: 30px;
}

.lainnya-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.lainnya-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-to-lainnya {
  text-decoration: none;
  color: var(--primary-color);
  font-size: x-large;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.link-to-lainnya:hover {
  color: #2980b9;
}
/* End: Detail Rumah */

/* Start: All Blog */
.blog-and-sidebar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 200px;
  margin: 50px;
  text-align: justify;
  color: var(--text-color);
}

.blog-img {
  border-radius: 30px;
}

.blog-item-title {
  font-size: xx-large;
  margin-bottom: 20px;
}

.blog-item {
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 50px;
  animation: fade-in-right 3s ease-in-out;
}

.blog-search {
  padding: 10px 30px;
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--light-gray);
  outline: none;
}

.lastest-post-img {
  width: 300px;
  border-radius: 30px;
}

.blog-search-button {
  position: absolute;
  right: 80px;
  top: 10px;
  background: none;
  outline: none;
  border: none;
}

.lastest-post-item {
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 50px;
  animation: fade-in-left 3s ease-in-out;
}
/* End: All Blog */

/* Start: Detail Blog */
.detail-blog-container {
  margin-top: 30px;
}

.detail-blog-img {
  width: 500px;
  border-radius: 30px;
}

.all-detail-blog {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 50px 50px;
  color: var(--text-color);
  gap: 100px;
}

.detail-blog-main {
  margin-top: 100px;
  text-align: justify;
  animation: fade-in-right 3s ease-in-out;
}

.detail-blog-title {
  font-size: xx-large;
  margin-bottom: 20px;
}
/* End: Detail Blog */

/* Start: Footer */
footer {
  background-color: var(--primary-color);
  color: var(----background-color);
  font-weight: bold;
  padding: 10px 50px;
  text-align: center;
  margin-top: 100px;
}
/* End: Footer */

/* Keyframes */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive */
@media (max-width: 360px) {
  body {
    overflow-x: hidden;
  }

  header {
    padding: 10px 15px;
  }

  .logo-app {
    font-size: 20px;
  }

  .nav-list {
    position: absolute;
    display: none;
    right: 15px;
    top: 50px;
    text-align: end;
    background-color: var(--light-gray);
    border-radius: 10px;
    border: var(--primary-color) 1px solid;
  }

  .nav-item {
    margin: 0;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid var(--light-gray);
  }

  .icon-list {
    font-size: 20px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: block;
  }

  .icon-list:hover {
    background-color: var(--text-color);
    color: var(--background-color);
  }

  .hero {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .btn-group {
    display: flex;
    justify-content: center;
  }

  .hero-text {
    margin-right: 0;
    text-align: center;
  }

  .kontak-kami {
    height: 40px;
  }

  .info-detail {
    height: 40px;
  }

  .hero-img {
    width: 300px;
  }

  .fasilitas-list {
    padding: 30px 15px;
  }

  .fasilitas-title {
    font-size: x-large;
    margin: auto;
    margin-top: 100px;
  }

  .fasilitas-item {
    flex-direction: column;
    align-items: center;
    margin-left: -50px;
  }

  .fasilitas-item-title {
    width: 140%;
  }

  .fasilitas-item-desc {
    width: 140%;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 50px;
  }

  .fasilitas-img {
    width: 300px;
    margin-left: 95px;
  }

  .fasilitas-item:nth-child(odd) {
    display: flex;
    flex-direction: column-reverse;
  }

  footer {
    font-size: 12px;
    padding: 10px 0px;
  }

  .about-us-content {
    margin: 10px;
    margin-top: 100px;
  }

  .contact-icon {
    flex-direction: column;
    margin: 0;
  }

  .contact-item {
    margin-bottom: 50px;
  }

  .contact-form-map {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    height: 500px;
    margin-left: 40px;
  }

  .contact-map {
    width: 120%;
    height: 500px;
    margin-top: 50px;
  }

  .tipe-rumah-title {
    margin: 50px 0;
    text-align: center;
    width: 81%;
    font-size: x-large;
    margin-left: 40px;
  }

  .tipe-rumah-article {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 0;
    margin-bottom: 100px;
  }

  .tipe-rumah-article:nth-child(odd) {
    display: flex;
    flex-direction: column-reverse;
  }

  .tipe-rumah-article:nth-child(even) {
    display: flex;
    flex-direction: column;
  }

  .tipe-rumah-img:nth-child(odd) {
    margin-left: -25px;
    width: 300px;
  }

  .flex-direction-row-reverse {
    flex-direction: column !important;
  }

  .tipe-rumah-container-group {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .tipe-rumah-container-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
  }

  .detail-rumah-main {
    display: block;
    margin-left: 0;
  }

  .detail-rumah-img {
    width: 300px;
    margin-left: 20px;
  }

  .detail-rumah-text-group {
    margin-left: 20px;
    width: 300px;
    text-align: justify;
  }

  .detail-rumah-grid {
    display: block;
  }

  .detail-rumah-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .detail-rumah-item i {
    margin-right: 20px;
  }

  .detail-rumah-kontak {
    display: block;
    margin-left: 20px;
    margin-top: 50px;
  }

  .detail-rumah-denah {
    width: 300px;
  }

  .detail-rumah-kontak-text {
    width: 300px;
  }

  .kontak-item {
    width: 270px;
    margin: 0;
    margin-bottom: 20px;
  }

  .lainnya {
    margin: 100px 20px;
  }

  .lainnya-grid {
    display: flex;
    flex-direction: column;
  }

  .blog-and-sidebar {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .blog-search-button {
    right: 100px;
  }

  .blog-item {
    text-align: left;
  }

  .all-detail-blog {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .detail-blog-img {
    width: 300px;
  }
}

/* Start: Other */
.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 92.5%;
  background-color: var(--light-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.active {
  color: var(--primary-color);
  font-weight: bold;
}

.banner {
  background-image: url("../assets/images/banner-img.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(----background-color);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.ml {
  margin-left: -50px;
}

.mr {
  margin-right: -50px;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.relative {
  position: relative;
}

/* End: Other */
